#del {
    padding-top: 22vh;
    padding-bottom: 22px;
}

#sec-1 {
    background-image: url('https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height: 97vh;
    align-content: center;
}
.text {
    background-color: rgba(103, 133, 163, 0.705);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    opacity: 0;
}
body {
    text-align: center;
}

#section-2 {

    margin: 50px auto;
    text-decoration-color: antiquewhite;
}